<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; color: cornflowerblue;">活动介绍</ion-title>
    <ion-label (click)="selfDismiss()" slot="start" style="padding-left: 10px; color: red; position: absolute; z-index: 1;">
      <!-- Back -->
      <ion-icon name="arrow-round-back" size="large"></ion-icon>
    </ion-label>
    <ion-label slot="end">
      <ion-icon name="text" size="large" style="color: cornflowerblue; margin-right: 5px;"></ion-icon>
      <ion-icon name="information-circle-outline" size="large" style="color: cornflowerblue;"></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>
  

<ion-content>

  <ion-card>
    <ion-card-header style="padding-bottom: 0;">
      <ion-card-subtitle style="font-size: 14px; color: cornflowerblue;">{{adv.company}}</ion-card-subtitle>
      <ion-card-subtitle>截止日期: {{adv.endDateTime.seconds * 1000 | date}}</ion-card-subtitle>
      <ion-card-title>{{adv.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides [options] = "imgSliderOpts" pager="true">
        <ion-slide style="max-height: 20vh" *ngFor="let img of adv.images" >
          <ion-card> 
            <img [src]="img">
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-segment (ionChange)="segmentChange($event)">
      <ion-segment-button checked value="description">
        <ion-label>活动介绍</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contact">
        <ion-label>联系详情</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card-content style="padding: 0;">
      <ion-label [hidden]="curView=='contact'" [innerHTML]="adv.detail"></ion-label>
      <div [hidden]="curView=='description'">
        <ion-label slot="start">
          <ion-icon name="pin"></ion-icon>( {{adv.location.latitude}} , {{adv.location.longitude}} )
        </ion-label>
        <div style="text-align: center;">
          <agm-map style="height: 150px; width: 100%; display: inline-block;" [latitude]="lat" [zoom]="zoom" [longitude]="lng" disableDefaultUI="true" clickableIcons="false">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <ion-list>
          <ion-item lines="full">联系电话: {{adv.mobile}}</ion-item>
          <ion-item lines="full">联系邮箱: {{adv.email}}</ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block">立刻报名</ion-button>
  </ion-toolbar>
</ion-footer>
