.textinput {
    height: 4vh; 
    border-radius: 2vh; 
    border: 1px solid #AAAAAA; 
    width: 65vw; 
    margin-left: -2.5vw;
    margin-top: 0.5vh;
    font-size: small;
}

.button-text {
    font-size: xx-small;
    color: grey;
}