.textinput {
    height: 9vw; 
    border-radius: 10vw; 
    border: 1px solid #AAAAAA; 
    width: 65vw; 
    margin-left: -4vw;
    margin-top: 1vw;
    font-size: small;
}

.button-text {
    font-size: xx-small;
    color: grey;
}