<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">{{targetName}}</ion-title>
    <ion-label (click)="selfDismiss()" slot="start" style="padding-left: 10px; color: red; position: absolute; z-index: 1;">
      Back
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content #container>
  <!-- <ion-infinite-scroll thresold="1500px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- <div #container style="overflow: scroll; height: xyz;"> -->
    <ion-list #logList>
      <div *ngFor="let log of logs">
        <ion-item *ngIf="log.from==targetUid" lines="none">
          <ion-avatar slot="start">
            <img [src]="targetAvatarUrl">
          </ion-avatar>
          <ion-label>
            <h2>{{targetName}}</h2>
            <p>{{log.timestamp}}</p>
            <h3 [hidden]="log.hasImg" class="ion-text-wrap">{{log.msg}}</h3>
            <img *ngIf="log.hasImg" [src]="log.imgUrl">
          </ion-label>
        </ion-item>
        <ion-item *ngIf="log.from==myUid" lines="none">
          <ion-avatar slot="end">
            <img [src]="myAvatarUrl">
          </ion-avatar>
          <ion-label class="ion-text-end">
            <!-- <h2>{{myName}}</h2> -->
            <h2>我</h2>
            <p>{{log.timestamp}}</p>
            <h3 [hidden]="log.hasImg" class="ion-text-wrap">{{log.msg}}</h3>
            <img *ngIf="log.hasImg" [src]="log.imgUrl">
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  <!-- </div> -->
</ion-content>

<ion-footer>
  <ion-grid style="border-top-style: groove; --ion-grid-padding: 0;">
    <ion-row class="ion-align-items-start">
      <ion-col offset=1 size=8 style="max-height: 46px;">
        <ion-input [(ngModel)]="msg" clear-input="true" (ionFocus)="showExtra=false" (keyup.enter)="sendMsg()"></ion-input>
      </ion-col>
      <ion-col size=1.5>
        <ion-icon (click)="showExtraPanel()" name="add" size="large"></ion-icon>
      </ion-col>
      <ion-col size=1.5>
        <ion-icon (click)="sendMsg()" name="send" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showExtra" style="background-color: #c3c3d6; height: 25vh;">
      <ion-col size=4 class="extra-function-icon-col">
        <ion-icon (click)="sendImg(false)" name="image" class="extra-function-icon"></ion-icon>
        <ion-icon (click)="sendImg(true)" name="camera" class="extra-function-icon"></ion-icon>
      </ion-col>
      <ion-col size=4 class="extra-function-icon-col">
        <ion-icon name="apps" class="extra-function-icon"></ion-icon>
        <ion-icon name="apps" class="extra-function-icon"></ion-icon>
      </ion-col>
      <ion-col size=4 class="extra-function-icon-col">
        <ion-icon name="apps" class="extra-function-icon"></ion-icon>
        <ion-icon name="apps" class="extra-function-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>