<ion-header>
</ion-header>

<ion-content style="margin:auto">
  <div style="border-bottom: solid 5px #EEEEEE;">
    <div style="margin-top: 5vh;" text-center>
      <ion-row>
        <!-- empty -->
        <ion-col class="test" size=2>
        </ion-col>

        <!-- user picture -->
        <ion-col class="test" size=8>
          <ion-avatar style="margin: auto; width: 18vw; height: 18vw;"> 
            <img [src]="curAvatarUrl">
          </ion-avatar>
        </ion-col>

        <!-- setting button -->
        <ion-col class="test" size=2>
          <ion-icon src="../assets/global/setting.svg" style="zoom: 1.5"></ion-icon>  
        </ion-col>

      </ion-row>
    </div>

    <div class="ion-text-center" *ngIf="!curUser">
      <ion-button color="secondary" style="width: 25vw; margin-top: 1vh; margin-bottom: 2vh;" [routerLink]="['/login']">
        登录
      </ion-button>
    </div>

    <!-- Show logged user's name and medals -->
    <div class="ion-text-center" *ngIf="curUser">
      <ion-label>{{curDisplayName}}</ion-label><br>
      <ion-icon name="medal"></ion-icon>
      <ion-icon name="medal"></ion-icon>
      <ion-icon name="medal"></ion-icon>
      <ion-icon name="medal"></ion-icon>
      <ion-icon name="medal"></ion-icon>
    </div>
  </div>
  
<!-- settings -->
  <div *ngIf="curUser" style="border-bottom: solid 5px #EEEEEE; margin-top: 2vh;">
    <ion-list lines="none">

      <ion-item class="settings" [routerLink]="['/fav-jobs']">
        <ion-icon src="../assets/setting-mine/bookmark.svg" slot="start"></ion-icon>
        <ion-label>收藏</ion-label>
      </ion-item>

      <ion-item class="settings" [routerLink]="['/history-jobs']">
        <ion-icon src="../assets/setting-mine/history.svg" slot="start"></ion-icon>
        <ion-label>最近浏览</ion-label>
      </ion-item>

      <ion-item class="settings" [routerLink]="['/upload-person-info']">
        <ion-icon src="../assets/setting-mine/resume.svg" slot="start"></ion-icon>
        <ion-label>修改简历</ion-label>
      </ion-item>

      <ion-item class="settings">
        <ion-icon src="../assets/setting-mine/privacy.svg" slot="start"></ion-icon>
        <ion-label>隐私</ion-label>
      </ion-item>

    </ion-list>
  </div>
  
  <!-- feedback -->
  <ion-list lines="none">
    <ion-item class="settings">
      <ion-icon src="../assets/setting-mine/wechatc.svg"  slot="start"></ion-icon>
      <ion-label>微信小助手</ion-label>
    </ion-item>

    <ion-item class="settings">
      <ion-icon src="../assets/setting-mine/information.svg" slot="start"></ion-icon>
      <ion-label>帮助与反馈</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-button *ngIf="curUser" expand="block" color="danger" (click)="logout()">退出当前账户</ion-button>
  
</ion-content>
