<ion-app>
  
<ion-content><ion-router-outlet></ion-router-outlet></ion-content>

<ion-tabs #footer>
  <ion-tab-bar slot="bottom" style="height: 8vh;">
    <ion-tab-button [routerLink]="['/home']">
      <ion-icon src="../assets/bottom-button/home.svg" class="footer_button" ></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/search']">
      <ion-icon name="search" class="footer_button" style="color: #999999;"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/recommend']">
      <ion-icon src="../assets/bottom-button/rec.svg" class="footer_button"></ion-icon>
      <ion-label>推荐</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="isLogged?['/message']:['/login']">
      <ion-icon src="../assets/bottom-button/message.svg" class="footer_button"></ion-icon>
      <ion-label>消息</ion-label>
      <ion-badge *ngIf="unreadMsgCount > 0">{{unreadMsgCount}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/mine']">
      <ion-icon src="../assets/bottom-button/mine.svg" class="footer_button"></ion-icon>
      <ion-label>个人</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<!-- <ion-footer no-shadow style="max-height: 12vh; margin: auto">
  <ion-toolbar position="bottom">
    <ion-row>

      <ion-col>
          <div style="text-align: center;" [routerLink]="['/front-page']">
              <button style="background: none;">
                <ion-icon src="../assets/icon/house.svg" style="zoom: 1.4; font-size: 3vw;"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">首页</label>
              </button>
            </div>         
      </ion-col>
        
      <ion-col >
          <div style="text-align: center;" [routerLink]="['fav-jobs']">
              <button style="background: none;">
                <ion-icon src="../assets/icon/favor.svg" style="zoom: 1.4; font-size: 3vw;"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">收藏</label>
              </button>
            </div>                    
      </ion-col>

      <ion-col>
        <div style="text-align: center;" [routerLink]="['/search']">
          
          <button ion-fab-button style="background: none;">
            <ion-icon src="../assets/icon/search.svg" style="zoom: 1.4; font-size: 3vw;"></ion-icon>
            <br> 
            <label style="font-size: 4vw;">探索</label>
          </button>
        
        </div>                   
      </ion-col>

      <ion-col>
          <div style="text-align: center;" [routerLink]="['/message']">
              <button style="background: none;">
                <ion-icon src="../assets/icon/chat.svg" style="zoom: 1.4; font-size: 3vw;"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">消息</label>
              </button>
            </div>                    
      </ion-col>
      
      <ion-col>
          <div style="text-align: center;" [routerLink]="['/personal-info']">
              <button style="background: none;">
                <ion-icon src="../assets/icon/user.svg" style="zoom: 1.4; font-size: 3vw;"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">个人</label>
              </button>
            </div>                    
      </ion-col>
      
        
    </ion-row> 
          
      

  </ion-toolbar>
</ion-footer> -->

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom" style="height: 10vh;">
    <ion-tab-button>
      <ion-icon src="../assets/icon/house.svg" style="zoom: 1.8; font-size: 5vw;" [routerLink]="['/front-page']"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/favor.svg" style="zoom: 1.8; font-size: 5vw;"></ion-icon>
      <ion-label>收藏</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/search.svg" style="zoom: 1.8; font-size: 5vw;" [routerLink]="['/search']"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/chat.svg" style="zoom: 1.8; font-size: 5vw;"></ion-icon>
      <ion-label>消息</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/user.svg" style="zoom: 1.8; font-size: 5vw;" [routerLink]="['/personal-info']" ></ion-icon>
      <ion-label>个人</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->

<!-- <app-personal-info></app-personal-info> -->
</ion-app>

