<ion-app>

<ion-header>
  <ion-toolbar>
      <ion-title style="text-align: center">什么招聘</ion-title>
      <ion-buttons #loginIcon slot='end' style="position:absolute;right:0">
          <ion-button [routerLink]="['/login']">
              <ion-icon name="body"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content><ion-router-outlet></ion-router-outlet></ion-content>

<ion-footer no-shadow style="max-height: 12vh; margin: auto">
  <ion-toolbar position="bottom">
    <ion-row>

      <ion-col>
          <div style="text-align: center;">
              <button style="background: none;">
                <ion-icon src="../assets/icon/house.svg" style="zoom: 1.4; font-size: 3vw;" [routerLink]="['/front-page']"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">首页</label>
              </button>
            </div>         
      </ion-col>
        
      <ion-col >
          <div style="text-align: center;">
              <button style="background: none;">
                <ion-icon src="../assets/icon/favor.svg" style="zoom: 1.4; font-size: 3vw;"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">收藏</label>
              </button>
            </div>                    
      </ion-col>

      <ion-col>
        <div style="text-align: center;">
          
          <button ion-fab-button style="background: none;">
            <ion-icon src="../assets/icon/search.svg" style="zoom: 1.4; font-size: 3vw;" [routerLink]="['/search']"></ion-icon>
            <br> 
            <label style="font-size: 4vw;">探索</label>
          </button>
        
        </div>                   
      </ion-col>

      <ion-col>
          <div style="text-align: center;">
              <button style="background: none;">
                <ion-icon src="../assets/icon/chat.svg" style="zoom: 1.4; font-size: 3vw;" [routerLink]="['/message']"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">消息</label>
              </button>
            </div>                    
      </ion-col>
      
      <ion-col>
          <div style="text-align: center;">
              <button style="background: none;">
                <ion-icon src="../assets/icon/user.svg" style="zoom: 1.4; font-size: 3vw;" [routerLink]="['/personal-info']"></ion-icon>
                <br> 
                <label style="font-size: 4vw;">个人</label>
              </button>
            </div>                    
      </ion-col>
      
        
    </ion-row> 
          
      

  </ion-toolbar>
</ion-footer>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom" style="height: 10vh;">
    <ion-tab-button>
      <ion-icon src="../assets/icon/house.svg" style="zoom: 1.8; font-size: 5vw;" [routerLink]="['/front-page']"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/favor.svg" style="zoom: 1.8; font-size: 5vw;"></ion-icon>
      <ion-label>收藏</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/search.svg" style="zoom: 1.8; font-size: 5vw;" [routerLink]="['/search']"></ion-icon>
      <ion-label>搜索</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/chat.svg" style="zoom: 1.8; font-size: 5vw;"></ion-icon>
      <ion-label>消息</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon src="../assets/icon/user.svg" style="zoom: 1.8; font-size: 5vw;" [routerLink]="['/personal-info']" ></ion-icon>
      <ion-label>个人</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->

<!-- <app-personal-info></app-personal-info> -->
</ion-app>

