<ion-header>
  <!-- <ion-segment color="tertiary" (ionChange)="testSegment($event)">
    <ion-segment-button layout="icon-start">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>通知</ion-label>
    </ion-segment-button>
    <ion-segment-button checked layout="icon-end">
      <ion-icon name="text"></ion-icon>
      <ion-label>消息</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <ion-toolbar>
    <ion-title style="color: cornflowerblue;">消息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#F5F5F5;">
  <!-- Segments header -->
  <div style="background-color:white;">
    <ion-grid>
      <ion-row>

        <ion-col size=4 style=" text-align: center;" [routerLink]="['/applied-jobs']">
          <div style="background-color: #92CDEA; border-radius: 50%; 
                      height: 6vh; width: 6vh; text-align: center; margin-left: 9vw;"> 
            <ion-icon src="../assets/msg/history.svg" style="zoom: 2; margin-top: 0.5vh;">
            </ion-icon> 
          </div>
          <ion-label style="font-size: 14px; color: grey">申请纪录</ion-label>
        </ion-col>


        <ion-col style=" text-align: center;">
          <div style="background-color: #21C1C1; border-radius: 50%; 
                      height: 6vh; width: 6vh; text-align: center; margin-left: 9vw;"> 
            <ion-icon src="../assets/msg/official.svg" style="zoom: 2; margin-top: 0.5vh;">
            </ion-icon> 
          </div>
          <ion-label style="font-size: 14px; color: grey;">系统通知</ion-label>
        </ion-col>
        <ion-col style=" text-align: center;">
          <div style="background-color: #5B7FE5; border-radius: 50%; 
                      height: 6vh; width: 6vh; text-align: center; margin-left: 9vw;"> 
            <ion-icon src="../assets/msg/official.svg" style="zoom: 2; margin-top: 0.5vh;">
            </ion-icon> 
          </div>
          <ion-label style="font-size: 14px; color: grey">聊天消息</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-select okText="Chat!" placeholder="请选择聊天对象:)" (ionChange)="startNewChat($event.detail.value)" style="border-style: double; border-color: grey;">
    <ion-select-option *ngFor="let user of userList" [value]=user.uid>{{user.username}}</ion-select-option>
  </ion-select>
  <!-- <ion-button expand="block" (click)="startNewChat()">
    Start a chat
  </ion-button> -->
  <!-- <ion-button expand="block" (click)="testFunc()">
    time
  </ion-button> -->
  <!-- <ion-list>
    <ion-list>
      <div *ngFor="let chat of chats | keyvalue" (click)="showChatModal(chat.key, chat.value)">
        <ion-item lines="full">
          <ion-avatar slot="start">
            <img [src]="chat.value.targetAvatarUrl">
          </ion-avatar>
          <ion-label>
            <h2>{{chat.value.targetName}}</h2>
            <p>{{chat.value.latestTime}}</p>
            <h3><span *ngIf="chat.value.unreadCount>0" style="color: indianred;">[{{chat.value.unreadCount}}条未读消息]</span>{{chat.value.latestMsg}}</h3>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-list> -->
  <ion-list>
    <ion-list>
      <div *ngFor="let chat of chats | keyvalue" (click)="showChatModal(chat.key, chat.value)">
        <div style="background-color:white; height: 11vh; width: 95vw;
                     margin-left: 2.5vw; margin-bottom: 1vh; border-radius: 3vh;">
          <ion-row>
            <ion-col size= 2.5>
              <img [src]="chat.value.targetAvatarUrl" style="height: 8vh; width: 8vh; border-radius: 50%; margin-top: 1vh;">
            </ion-col>

            <ion-col>
              <ion-row>
                <ion-col size=9>
                  <ion-label>
                    <h3 style="font-size: 16px;">{{chat.value.targetName}} <p style="color: grey; display: inline; font-size: 10px;">{{chat.value.extraTag}}</p> </h3>
                    <div style="height: 1vh;"></div>
                    <p style="font-size: 14px;"><span *ngIf="chat.value.unreadCount>0" style="color: indianred;">[{{chat.value.unreadCount}}条未读消息]</span>{{chat.value.latestMsg}}</p>
                  </ion-label>
                </ion-col>
    
                <ion-col style="text-align: right;" size=3>
                  <p style="font-size: 14px; margin-top: 0.5vh;">{{chat.value.latestTime | date :'M月d日'}}</p>
                </ion-col>
    
              </ion-row>
            </ion-col>

          </ion-row>
        </div>

      </div>
    </ion-list>
  </ion-list>
</ion-content>
