<ion-header></ion-header>

<ion-content>
  
  <ion-searchbar animated placeholder="try ANZ" clearInput></ion-searchbar>
  
  <ion-slides [options] = "Advslider" #adv pager="true" (ionSlidesDidLoad)="slidesDidLoad(adv)">
      <ion-slide style="max-height: 20vh" *ngFor="let adv of advs" >
          <ion-card> 
            <img [src]="adv.ImageUrl">
          </ion-card>
      </ion-slide>
  </ion-slides>

  <br>
  

  <div style="margin-left: 5vw; margin-right: 5vw;">
    <h3>这里是介绍</h3>
    <p> 我们这个app好用的一批，有多j8 j8牛逼，还有很多大厂商大家快来用</p>
    <ion-row>
      <ion-col>
        <ion-card style="height: 20vh;">
            <img src="../assets/melbourne1.jpg">
            <ion-card-content> 我是ANZ</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
          
        <ion-card style="height: 20vh;">
          <img src="../assets/melbourne2.jpg">
          <ion-card-content> 我是CXK</ion-card-content>
        </ion-card>
         
      </ion-col>

    </ion-row>

    <ion-row>
        <ion-col>
          <ion-card style="height: 20vh;">
              <img src="../assets/melbourne3.jpg">
              <ion-card-content> 我是ANZ</ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col>
            
          <ion-card style="height: 20vh;">
            <img src="../assets/melbourne1.jpg">
            <ion-card-content> 我是CXK</ion-card-content>
          </ion-card>
           
        </ion-col>
  
    </ion-row>

  </div>

  <div style="margin-left: 5vw; margin-right: 5vw;">
      <h3>这里是活动介绍</h3>
      <p> 现在nmd有很多公司在招聘，大家快来看看，nmsl</p>
      <ion-row>
        <ion-col>
          <ion-card style="height: 20vh;">
              <img src="../assets/melbourne1.jpg">
              <ion-card-content> 我是ANZ</ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col>
            
          <ion-card style="height: 20vh;">
            <img src="../assets/melbourne2.jpg">
            <ion-card-content> 我是CXK</ion-card-content>
          </ion-card>
           
        </ion-col>
  
      </ion-row>
  
      <ion-row>
          <ion-col>
            <ion-card style="height: 20vh;">
                <img src="../assets/melbourne3.jpg">
                <ion-card-content> 我是ANZ</ion-card-content>
            </ion-card>
          </ion-col>
    
          <ion-col>
              
            <ion-card style="height: 20vh;">
              <img src="../assets/melbourne1.jpg">
              <ion-card-content> 我是CXK</ion-card-content>
            </ion-card>
             
          </ion-col>
    
      </ion-row>
  
    </div>

</ion-content>

<ion-footer></ion-footer>