<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed" pullMin=120>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="border-bottom: solid grey 2px; margin-top: 2vh;" style="display: none;">
    <ion-row style=" height: 18vh; ">
      <ion-col size="2.5" style=" height: 18vh; margin-left: 2vw;">
        <img src="../assets/cxk.jpg" style="height: 20vw; width: 20vw; object-fit: cover;">
      </ion-col>

      <ion-col size="8" style=" height: 18vh;">

        <ion-row style=" height: 3vh;  margin: auto; margin-bottom: 0.5vh;">
          <p style="margin-top: auto; font-size: large; "> <b>{{title}} {{name}} </b></p>
        </ion-row>

        <ion-row style=" height: 3vh;  margin: auto; margin-bottom: 0.5vh;">
            <ion-chip style="margin: auto; height: 3vh;" *ngFor="let s of skills" > 
                <ion-label>{{s}}</ion-label>
            </ion-chip>
        </ion-row>

        <ion-row style=" height: 3vh; margin: auto; margin-bottom: 0.5vh;">
          <p style="margin-top: auto; font-size: medium; "> 
            <ion-icon src="../assets/icon/mail.svg"></ion-icon> 
             &nbsp; {{email}}
          </p>
        </ion-row>

        <ion-row style=" height: 3vh;  margin: auto; margin-bottom: 0.5vh;">
          <p style="margin-top: auto; font-size: medium; "> 
            <ion-icon src="../assets/icon/phone.svg"></ion-icon> 
             &nbsp; {{phone}}
          </p>
        </ion-row>

        <ion-row style=" height: 3vh; margin: auto; margin-bottom: 0.5vh;">
          <p style="margin-top: auto; font-size: medium; "> 
            <ion-icon src="../assets/icon/wechat.svg" ></ion-icon> 
             &nbsp; {{phone}}
          </p>
        </ion-row>

      </ion-col>

      <ion-col>
        <ion-icon src="../assets/icon/setting.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </div>


  <div style="width: 96vw; margin:auto; margin-top: 1vh;">
    <b>资料完整度: &nbsp;&nbsp; {{pValueStr}}%</b>
    <ion-progress-bar [value]="pValue" [color]="pColor" style="height: 2vh; margin-bottom: 3vh; margin-top: 1vh;"></ion-progress-bar>
  </div>


  <div>
    <!-- <ion-card style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1vh;"> 
      <ion-row>
        <ion-col size="10.5" >
          <div>
             <b style="vertical-align:middle; margin-left: 1vw;">技能</b>
          </div>
          
          <div>
            <ion-chip style="margin: auto; margin-left: 1vw;" *ngFor="let s of skills" > 
              <ion-label>{{s}}</ion-label>
            </ion-chip>
          </div>
         
        </ion-col>
       

        <ion-col style="margin:auto">
          <ion-icon style="margin:auto; font-size: 5vw;" name="create" (click)="editSkills($event)"></ion-icon>
        </ion-col>
        
      </ion-row>
        

 
    </ion-card>

    <ion-card #workExp style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1.5vh;">
        <ion-row (click)="presentInfoEditModal($event)">
            <ion-col size="10.5" >
              <div>
                 <b style="vertical-align:middle; margin-left: 1vw;">工作经验</b>
              </div>
            </ion-col>
           
    
            <ion-col style="margin:auto">
              <ion-icon style="margin:auto; font-size: 5vw;"  name="create"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-card>

    <ion-card  (click)="presentInfoEditModal($event)" #eduExp style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1.5vh;">
        <ion-row>
            <ion-col size="10.5" >
              <div>
                 <b style="vertical-align:middle; margin-left: 1vw;">教育经历</b>
              </div>
            </ion-col>
           
    
            <ion-col style="margin:auto">
              <ion-icon style="margin:auto; font-size: 5vw;" name="create"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-card>

    <ion-card #projExp style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1.5vh;">
        <ion-row (click)="presentInfoEditModal($event)">
            <ion-col size="10.5" >
              <div>
                 <b style="vertical-align:middle; margin-left: 1vw;">项目经历</b>
              </div>
            </ion-col>
           
    
            <ion-col style="margin:auto">
              <ion-icon style="margin:auto; font-size: 5vw;" name="create"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-card>

    <ion-card #honor style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1.5vh;">
        <ion-row (click)="presentInfoEditModal($event)">
            <ion-col size="10.5" >
              <div>
                 <b style="vertical-align:middle; margin-left: 1vw;">个人荣誉</b>
              </div>
            </ion-col>
           
    
            <ion-col style="margin:auto">
              <ion-icon style="margin:auto; font-size: 5vw;" name="create"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-card>

    <ion-card #file style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1.5vh;">
        <ion-row (click)="presentInfoEditModal($event)">
            <ion-col size="10.5" >
              <div>
                 <b style="vertical-align:middle; margin-left: 1vw;">附件</b>
              </div>
            </ion-col>
           
    
            <ion-col style="margin:auto">
              <ion-icon style="margin:auto; font-size: 5vw;" name="create"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-card>

    <ion-card #description style="border: solid 1px;  width: 98vw; margin: auto; margin-bottom: 1.5vh;">
        <ion-row (click)="presentInfoEditModal($event)">
            <ion-col size="10.5" >
              <div>
                 <b style="vertical-align:middle; margin-left: 1vw;">个人简介</b>
              </div>
            </ion-col>
           
    
            <ion-col style="margin:auto">
              <ion-icon style="margin:auto; font-size: 5vw;" name="create"></ion-icon>
            </ion-col>
          </ion-row>
    </ion-card> -->
    <ion-card>
      <div *ngFor="let link of links">
        <ion-item lines="none" (click)="presentInfoEditModal(link)">
          <ion-label slot="start">{{link.name}}</ion-label>
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-item>
        <ion-item lines="none" *ngIf="curUserDoc[link.type].length==0">
          <ion-chip color="tertiary">暂无数据，快来添加吧</ion-chip>
        </ion-item>
        <ion-item lines="none" *ngIf="curUserDoc[link.type].length>0">
          <div *ngIf="!['files','description'].includes(link.type)">
            <ion-chip *ngFor="let item of curUserDoc[link.type]">{{item | resumePreview: link.type}}</ion-chip>
          </div>
          <div *ngIf="link.type=='description'" style="margin-left: 4px; padding-left: 12px;">
            {{curUserDoc.description}}
          </div>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </div>
    </ion-card>


  </div>
</ion-content>