<ion-header>
  <ion-toolbar>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-icon name="arrow-dropleft" style="zoom: 1.5;" [routerLink]="['/mine']"></ion-icon>
    </ion-buttons>
    <ion-title style="color: cornflowerblue;">个人信息编辑</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed" pullMin=120>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-grid>
      <ion-row class=test style="text-align: center; border-bottom-style: double;">
        <!-- circle bar -->
        <ion-col class=test size="3">
          <circle-progress [percent]="pValueStr" [imageSrc]="curAvatarUrl">
          </circle-progress>
        </ion-col>
        <!-- details -->
        <ion-col class=test>
    
          <ion-row class=test style="height: 3vh;">
          <p style="font-size: small; margin-top: 0;">{{curDisplayName}}</p>
          </ion-row >
    
          <ion-row class=test>
            <ion-icon name="medal"></ion-icon>
            <ion-icon name="medal"></ion-icon>
            <ion-icon name="medal"></ion-icon>
            <ion-icon name="medal"></ion-icon>
            <ion-icon name="medal"></ion-icon>
          </ion-row>
          <ion-row class=test style="height: 3vh;">
            <p style="font-size: small; margin-top: 0;">&nbsp;</p>
          </ion-row>
          <ion-row class=test style="height: 3vh;">
            <p style="font-size: small; margin-top: 0;">  资料完整度 {{pValueStr}}%</p>
          </ion-row>
        </ion-col>
    
        <ion-col class=test size="2" >
          <ion-icon (click)="presentBasicInfoEditModal()" name="create" style="zoom: 2; color: gray;"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-slides #slide [options] = "sliderOpts" pager="true" (ionSlidesDidLoad)="slidesDidLoad(slide)">
          <ion-slide style="max-height: 25vh">
            <ion-list style="width: 100%;">
              <ion-item lines="full">
                姓名: {{curUserDoc.displayName}}
              </ion-item>
              <ion-item lines="full">
                性别: {{curUserDoc.gender}}
              </ion-item>
              <ion-item lines="full">
                邮箱: {{curUserDoc.email}}
              </ion-item>
              <ion-item lines="full">
                手机: {{curUserDoc.mobile}}
              </ion-item>
            </ion-list>
          </ion-slide>
          <ion-slide style="max-height: 25vh">
            <ion-list style="width: 100%;">
              <ion-item lines="full">
                期望职业: {{curUserDoc.preferJob}}
              </ion-item>
              <ion-item lines="full">
                期望地点: {{curUserDoc.preferLocation}}
              </ion-item>
              <ion-item lines="full">
                期望薪资: {{curUserDoc.preferSalary}}
              </ion-item>
              <ion-item lines="full">
                已工作年数: {{curUserDoc.workYear}}
              </ion-item>
            </ion-list>
          </ion-slide>
        </ion-slides> 
      </ion-row>
    </ion-grid>
  </ion-card>
 
  <ion-item lines="none">
    <ion-label slot="start">公开简历</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>


  <div>
    <ion-card>
      <div *ngFor="let link of links">
        <ion-item lines="none" (click)="presentInfoEditModal(link)">
          <ion-label slot="start"><b>{{link.name}}</b></ion-label>
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-item>
        <ion-item lines="none" *ngIf="curUserDoc[link.type].length==0">
          <ion-chip color="tertiary">暂无数据，快来添加吧</ion-chip>
        </ion-item>
        <ion-item lines="none" *ngIf="curUserDoc[link.type].length>0 && link.type!='files'">
          <div *ngIf="!['files','description'].includes(link.type)">
            <ion-chip *ngFor="let item of curUserDoc[link.type]">{{item | resumePreview: link.type}}</ion-chip>
          </div>
          <div *ngIf="link.type=='description'" style="margin-left: 4px; padding-left: 12px;">
            {{curUserDoc.description}}
          </div>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </div>
    </ion-card>
  </div>
</ion-content>