<ion-header style="margin: auto;">
  <div class="searchbox">
    <ion-row class="test" style="margin-top: 0vh;">
      <!-- location selector -->
      <ion-col class="test" size=2>
        <ion-tab-button #locate_selector>
          <ion-icon src="../assets/icon/pin.svg" style="zoom: 0.8;" [routerLink]="['/front-page']"></ion-icon>
          <ion-label class="button-text">墨尔本</ion-label>
        </ion-tab-button>
      </ion-col>
  
      <!-- search bar -->
      <ion-col class="test" size=10>
        <ion-searchbar [(ngModel)]="searchTerm" showCancelButton="focus" placeholder="输入关键字"></ion-searchbar>
      </ion-col>
    </ion-row>
    <!-- work type radio -->
    <ion-radio-group allowEmptySelection=true (ionChange)="radioChange($event)">
      <ion-row class="work-type-checkboxes-outer">

        <ion-col style="text-align: center;" class="work-type-checkboxes-inner-full">
          <ion-row>
            <ion-col size="0.5">
              <ion-radio value="full"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label style="color: #000099;">全职</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col style="text-align: center;" class="work-type-checkboxes-inner-partial">
          <ion-row>
            <ion-col size="0.5">
              <ion-radio value="part"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label style="color: #66CC66;">兼职</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col style="text-align: center;" class="work-type-checkboxes-inner-partial">
          <ion-row>
            <ion-col size="0.5">
              <ion-radio value="intern"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label style="color: #6633CC;">实习</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col style="text-align: center;" class="work-type-checkboxes-inner-partial">
          <ion-row>
            <ion-col size="0.5">
              <ion-radio value="fast"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label style="color: #FF0066;">快聘</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <!-- search drop down -->
    <!-- <ion-row style="background: white; text-align: center;">
        <ion-col>
          <div>
            <ion-select [(ngModel)]="workTypeSelect" placeholder="工作种类" name="work_type" interface="popover" (ionChange)="selectChange($event)">
                <ion-select-option [value]="opt.value" *ngFor="let opt of workTypeOpts">{{opt.display}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-select [(ngModel)]="jobTypeSelect" placeholder="职业种类" name="job_cat" interface="popover" (ionChange)="selectChange($event)">
                <ion-select-option [value]="opt.value" *ngFor="let opt of jobTypeOpts">{{opt.display}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-select [(ngModel)]="salarySelect" placeholder="时薪" name="salary" interface="popover" (ionChange)="selectChange($event)">
                <ion-select-option [value]="opt.value" *ngFor="let opt of salaryOpts">{{opt.display}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
    </ion-row>
    <ion-button expand="full" #clearSelectBtn style="display:none" color="danger" (click)="clearSelect()">
      <label>清除搜索结果</label>
    </ion-button> -->
    <!-- <ion-range min="15" max="500" color="secondary" (ionChange)="searchByPay($event.detail.value)" dual-knobs pin value=250 debounce=1800 style="padding-top: 0;padding-bottom: 0;">
      <ion-icon slot="start" size="small" name="card"></ion-icon>
      <ion-icon slot="end" name="card"></ion-icon>
    </ion-range> -->
  </div>
</ion-header>

<ion-content> 
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed" pullMin=120>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="background-color: white" >
    
  <ion-card [style.border-left-color]="j.type | workType" style="border-left-style: solid; border-left-width: 12px;" *ngFor="let j of jobs">
      <ion-grid>
        <div (click)="presentJobDetailModal(j)">
          <!-- Company name& avatar -->
          <ion-row class="ion-justify-content-center">
            <ion-col size=2>
              <ion-thumbnail style="width: 72px;height: 72px;">
                <!-- <img [src]='job.imageUrl[0]'> -->
                <img src="../../assets/cxk.jpg">
              </ion-thumbnail> 
            </ion-col>
            <ion-col size=6 offset=1>
              <ion-label style="margin: 0; font-size: 20px;"><b>{{j.position}}</b></ion-label><br>
              <ion-label style="margin: 0; font-size: 17px;">{{j.title}}</ion-label><br>
              <!-- Job's characteristics -->
              <ion-label style="font-size: 14px; margin: 0;" *ngFor="let tag of j.tags; let i = index"><span *ngIf="i!=0">|</span>{{tag}}</ion-label><br>
              <ion-label style="font-size: 14px; margin-right: 5px; color: #FF3366; background-color:#FFFFCC;" *ngFor="let tag of j.tags">{{tag}}</ion-label>
            </ion-col>
            <ion-col size=2.5>
              <span style="color:goldenrod; font-size: 8; ">{{j.salary}}$/hr</span>
            </ion-col>
          </ion-row>
          </div>

      </ion-grid>
  </ion-card>  

  </div>
  <!-- Test job-add function -->
  <!-- <form [formGroup]="this.commDbService.newJobForm">
    <ion-label>Position</ion-label>
    <ion-input placeholder="ID"
            formControlName="position"></ion-input><br/>
    <ion-label>Publish</ion-label>
    <ion-input placeholder="ID"
            formControlName="publishDateTime"
            type="date"></ion-input><br/>
    <ion-label>LastEdit</ion-label>
    <ion-input placeholder="ID"
            formControlName="lastEditDateTime"
            type="date"></ion-input><br/>
    <ion-label>ImageUrl</ion-label>            
    <ion-input placeholder="ImageUrl"
            formControlName="imageUrl"></ion-input><br/>
    <ion-label>Title</ion-label>
    <ion-input placeholder="Title"
            formControlName="title"></ion-input><br/>
    <ion-label>Salary</ion-label>
    <ion-input placeholder="Salary"
            formControlName="salary"
            type="number"></ion-input><br/>
    <ion-label>IntroText</ion-label>
    <ion-textarea placeholder="IntroText"
            formControlName="introText"></ion-textarea><br/>
    <ion-label>GeoLocation</ion-label>
    <ion-textarea placeholder="geolocation"
            formControlName="geolocation"></ion-textarea><br/>
    <ion-label>Tags, splited by ';'</ion-label>
    <ion-textarea placeholder="Tags (i.e. hello;bye)"
            formControlName="tags"></ion-textarea><br/>
    <ion-label>Details</ion-label>
    <ion-textarea placeholder="Details"
            formControlName="details"></ion-textarea><br/>
    <ion-button type="submit" expand="block" (click)="addJob()"><ion-icon name="add"></ion-icon></ion-button>
  </form> -->

</ion-content>

<ion-footer></ion-footer>