.work-type-checkboxes-outer {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}

.work-type-checkboxes-inner-full {
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #DDDDDD;
    border-right-color: #DDDDDD;
    border-width: 1px;
}

.work-type-checkboxes-inner-partial {
    border-right-style: solid;
    border-right-color: #DDDDDD;
    border-width: 1px;
}

.textinput {
    height: 4vh; 
    border-radius: 2vh; 
    border: 1px solid #AAAAAA; 
    width: 65vw; 
    margin-left: -2.5vw;
    margin-top: 0.5vh;
    font-size: small;
}

.button-text {
    font-size: xx-small;
    color: grey;
}