.work-type-checkboxes-outer {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
    border-width: 1px;
}

.work-type-checkboxes-inner-full {
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #DDDDDD;
    border-right-color: #DDDDDD;
    border-width: 1px;
}

.work-type-checkboxes-inner-partial {
    border-right-style: solid;
    border-right-color: #DDDDDD;
    border-width: 1px;
}

.textinput {
    height: 9vw; 
    border-radius: 10vw; 
    border: 1px solid #AAAAAA; 
    width: 65vw; 
    margin-left: -4vw;
    margin-top: 1vw;
    font-size: small;
}

.button-text {
    font-size: xx-small;
    color: grey;
}

.location-picker-col {
    padding: 0;
}

.search-bar {
    margin-right: 4.1vw;
}

.scroll-content {
    padding-bottom: 0 !important;
}