<ion-header>
  <div class="searchbox">
    <!-- search input -->
    <!-- <ion-input style="height: 6vh; background: white; border-bottom: 1px solid" placeholder="输入关键字" clearInput> 
        <ion-icon name="search" style="zoom: 1.3; margin-left: 1vw"></ion-icon>
    </ion-input> -->
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="testSearch($event)" (ionCancel)="cancelSearch()" (ionFocus)="initSearch()" debounce=2000 showCancelButton="focus" animated placeholder="输入关键字"></ion-searchbar>

    <!-- search drop down -->
    <ion-row style="background: white; text-align: center;">
        <ion-col>
          <div>
              <!-- <select style=" height: 4vh;  margin: auto; border: none" name="work_type">
                <option value=0>工作形式</option>
                <option value="1">op1</option>
                <option value="2">op2</option>
            </select> -->
            <ion-select placeholder="工作种类" name="work_type" interface="popover">
                <ion-select-option value="0">不限</ion-select-option>
                <ion-select-option value="1">Full Time</ion-select-option>
                <ion-select-option value="2">Part Time</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <!-- <select style="height: 4vh ; margin: auto; border: none" name="job_cat">
                <option value=0>职业种类</option>
                <option value="1">op1</option>
                <option value="2">op2</option> 
            </select> -->
            <ion-select placeholder="职业种类" name="job_cat" interface="popover" (ionChange)="selectChange($event)">
                <ion-select-option value="0">不限</ion-select-option>
                <ion-select-option value="1">合法工</ion-select-option>
                <ion-select-option value="2">黑工</ion-select-option>
            </ion-select>
          </div>
            
        </ion-col>
        <ion-col>
          <div>
            <!-- <select style="height: 4vh;  margin: auto; border: none" name="salary">
                <option value=0>时薪</option>
                <option value="1">面议</option>
                <option value="2">10-15</option>
                <option value="2">15-25</option>
                <option value="2">25-35</option>
                <option value="2">35+</option>
            </select> -->
            <ion-select placeholder="时薪" name="salary" interface="popover">
                <ion-select-option value="0">不限</ion-select-option>
                <ion-select-option value="1">面议</ion-select-option>
                <ion-select-option value="2">10-15</ion-select-option>
                <ion-select-option value="3">15-25</ion-select-option>
                <ion-select-option value="4">25-35</ion-select-option>
                <ion-select-option value="5">35+</ion-select-option>
            </ion-select>
          </div>
            
        </ion-col>
    </ion-row>
    <ion-range min="15" max="500" color="secondary" dual-knobs pin value=250 style="padding-top: 0;padding-bottom: 0;">
      <ion-icon slot="start" size="small" name="card"></ion-icon>
      <ion-icon slot="end" name="card"></ion-icon>
    </ion-range>
  </div>
</ion-header>

<ion-content> 
  <ion-refresher #refresh (ionRefresh)="refreshCard($event)" slot="fixed" pullMin=120>
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="background-color: white" >
    <!-- <ion-card ngDefaultControl style="background: white;" *ngFor="let j of jobs" (click)="presentJobDetailModal(j)">
      <ion-card-content>
      
      <ion-grid>

      <ion-row>
        <ion-col size="2.5" style=" height: 15vh; margin-left: 0vw;">
          <ion-row>
            <div style="margin-top: 15%;">
              <ion-thumbnail>
              <img style=" overflow:scroll;" [src] = "j.imageUrl">
              </ion-thumbnail> 
            </div>
          </ion-row>
          
          <br>

          <ion-row>
            <ion-icon style="zoom: 1.5;" name="heart-empty"></ion-icon>
          </ion-row>
          
        </ion-col>

    
        <ion-col size="9" style="height: 15vh;">
          <ion-row>
              <ion-col>
                  <p style="font-size: 4.5vw; text-align: left;"><b> {{ j.title }} </b></p>
              </ion-col>
  
              <ion-col style="text-align: right;">
                  <p style="font-size: 4.5vw; color: orange">${{ j.salary }}/h</p>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
              <p style="font-size: 3.5vw;">{{ j.introText }}</p>
              </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

    </ion-grid>
    
    </ion-card-content>

        
      
  </ion-card> -->
  <ion-card *ngFor="let j of jobs" (click)="presentJobDetailModal(j)">
    <!-- <ion-card-content> -->
      <ion-grid>
        <!-- Company name& avatar, plus post time -->
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size=2>
            <ion-thumbnail>
              <img [src]='j.imageUrl[0]'>
            </ion-thumbnail> 
          </ion-col>
          <ion-col size=7 offset=0.5>
            <!-- <ion-label><b>墨尔本摩尔有限公司墨尔本摩尔有限公司墨尔本摩墨尔本摩尔有限公司墨尔本摩尔有限公司墨尔本摩尔有限公司尔有限公司</b></ion-label> -->
            <ion-list>  
              <ion-item>
                <ion-label class="ion-text-wrap ion-text-center"><b>{{j.title}}</b></ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap ion-text-center">{{j.position}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size=2 offset=0.5>
            <span style="color: rgb(142, 171, 224); font-size: 7; ">{{j.publishDateTime}}</span>
          </ion-col>
        </ion-row>
        <!-- Job's description, start with a fav icon -->
        <ion-row class="ion-align-items-center" style="border-bottom-style: dotted; border-bottom-color: darkgray; padding-bottom: 3px;">
          <ion-label>{{j.introText}}</ion-label>
        </ion-row>
        <!-- Job's characteristics -->
        <ion-row>
          <ion-chip *ngFor="let tag of j.tags">{{tag}}</ion-chip>
          <!-- <ion-chip>test</ion-chip>
          <ion-chip>testtestest</ion-chip> -->
        </ion-row>
        <ion-button expand="block"><ion-icon name="heart-empty"></ion-icon></ion-button>

      </ion-grid>
    <!-- </ion-card-content> -->
  </ion-card>  

  </div>
  <form [formGroup]="this.jobser.jobForm">
    <ion-label>Position</ion-label>
    <ion-input placeholder="ID"
            formControlName="position"></ion-input><br/>
    <ion-label>Publish</ion-label>
    <ion-input placeholder="ID"
            formControlName="publishDateTime"
            type="date"></ion-input><br/>
    <ion-label>LastEdit</ion-label>
    <ion-input placeholder="ID"
            formControlName="lastEditDateTime"
            type="date"></ion-input><br/>
    <ion-label>ImageUrl</ion-label>            
    <ion-input placeholder="ImageUrl"
            formControlName="imageUrl"></ion-input><br/>
    <ion-label>Title</ion-label>
    <ion-input placeholder="Title"
            formControlName="title"></ion-input><br/>
    <ion-label>Salary</ion-label>
    <ion-input placeholder="Salary"
            formControlName="salary"
            type="number"></ion-input><br/>
    <ion-label>IntroText</ion-label>
    <ion-textarea placeholder="IntroText"
            formControlName="introText"></ion-textarea><br/>
    <ion-label>GeoLocation</ion-label>
    <ion-textarea placeholder="geolocation"
            formControlName="geolocation"></ion-textarea><br/>
    <ion-label>Details</ion-label>
    <ion-textarea placeholder="Details"
            formControlName="details"></ion-textarea><br/>
    <ion-button type="submit" expand="block" (click)="addJob()"><ion-icon name="add"></ion-icon></ion-button>
  </form>

</ion-content>

<ion-footer></ion-footer>