<ion-header style="margin: auto;">
  <ion-row class="test" style="margin-top: 0vh;">
    <!-- location selector -->
    <ion-col class="test" size=2.5>
      <ion-tab-button #locate_selector>
        <ion-icon src="../assets/icon/pin.svg" style="zoom: 0.8;" [routerLink]="['/front-page']"></ion-icon>
        <ion-label class="button-text">墨尔本</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- search bar -->
    <ion-col class="test" size=7>
      <ion-searchbar #home_search_bar></ion-searchbar>
    </ion-col>

    <!-- wechat helper -->
    <ion-col class="test" size=2.5>
      <ion-tab-button #wechat_helper>
        <ion-icon src="../assets/icon/wechat.svg" style="zoom: 0.8;"></ion-icon>
        <ion-label class="button-text">微信助手</ion-label>
      </ion-tab-button>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>
 
  <!-- adv slider -->
  <ion-slides [options] = "Advslider" #advSlide pager="true" (ionSlidesDidLoad)="slidesDidLoad(advSlide)">
    <ion-slide style="max-height: 20vh" *ngFor="let advSlide of advSlides">
          <img [src]="advSlide.ImageUrl" style="max-width: 100% !important;max-height: 100% !important;">
    </ion-slide>
  </ion-slides> 

  <!-- 4 buttons --> 
  <div style="margin:auto; border-bottom: solid 1vh #DDDDDD;">
     <ion-row class="test">
    <!-- 校招 -->
    <ion-col class="test">
      <ion-tab-button #locate_selector (click)="openPage()">
        <img  class="fbutton" src="../assets/largeicon/xz.png">
        <ion-label class="button-text">校招入口</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- 测试 -->
    <ion-col class="test">
      <ion-tab-button #locate_selector (click)="openPage()">
        <img class="fbutton" src="../assets/largeicon/cs.png">
        <ion-label class="button-text">职业测试</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- 志愿者 -->
    <ion-col class="test">
      <ion-tab-button #wechat_helper (click)="openPage()">
        <img class="fbutton" src="../assets/largeicon/zyz.png">
        <ion-label class="button-text">志愿者</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- 求职指南 -->
    <ion-col class="test">
      <ion-tab-button #wechat_helper (click)="openPage()">
        <img class="fbutton" src="../assets/largeicon/zc.png">
        <ion-label class="button-text">求职指南</ion-label>
      </ion-tab-button>
    </ion-col>
  </ion-row>

</div>

 <!-- segment adv list -->
 <ion-segment (ionChange)="segmentChange($event)" color='medium' style="height: 4.5vh;">
    <ion-segment-button  value="full" class="segment" >
      <ion-label>全职</ion-label>
    </ion-segment-button>

    <ion-segment-button value="part" class="segment">
      <ion-label>兼职</ion-label>
    </ion-segment-button>

    <ion-segment-button value="intern" class="segment">
      <ion-label>实习</ion-label>
    </ion-segment-button>

    <ion-segment-button value="all" checked class="segment">
      <ion-label>不限</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-top: 3px;">
    <ion-card *ngFor="let adv of advList" (click)="presentAdvModal(adv)">
      <ion-card-header>
        <ion-card-subtitle style="font-size: 14px; color: cornflowerblue;">{{adv.company}}</ion-card-subtitle>
        <ion-card-subtitle>截止日期: {{adv.endDateTime.seconds * 1000 | date}}</ion-card-subtitle>
        <ion-card-title>{{adv.title}}</ion-card-title>
        <img [src]="adv.images[0]">
        <ion-label class="adv-card-bottom-text">{{adv.detail | slice:0:60}}....</ion-label>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
