<ion-header style="margin: auto;">
  <ion-row class="test" style="margin-top: 0; height: 13vw">
          <!-- location selector -->
    <ion-col class="location-picker-col" size=2.5>
      <ion-tab-button #locate_selector>
        <ion-icon src="../assets/global/place.svg" style="zoom: 0.9;" [routerLink]="['/front-page']"></ion-icon>
        <ion-label class="button-text" style="color: grey;">墨尔本</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- search bar -->
    <ion-col class="search-bar" size=7>
      <input type="search" [(ngModel)]="searchTerm" placeholder=" 输入关键字搜索" class="textinput">
      <!-- <ion-searchbar [(ngModel)]="searchTerm" showCancelButton="focus" placeholder="输入关键字"></ion-searchbar> -->
    </ion-col>

    <!-- wechat helper -->
    <ion-col class="test" size=2.5>
      <ion-tab-button #wechat_helper>
        <ion-icon src="../assets/global/wechat.svg" style="zoom: 0.9;"></ion-icon>
        <ion-label class="button-text">小助手</ion-label>
      </ion-tab-button>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>
 
  <!-- adv slider -->
  <ion-slides [options] = "Advslider" #advSlide pager="true" (ionSlidesDidLoad)="slidesDidLoad(advSlide)">
    <ion-slide style="max-height: 40vw" *ngFor="let advSlide of advSlides">
          <img [src]="advSlide.ImageUrl" style="max-width: 100% !important;max-height: 100% !important;">
    </ion-slide>
  </ion-slides> 

  <!-- 4 buttons --> 
  <div style="margin:auto; border-bottom: solid 2vw #DDDDDD; height: 20vw;">
     <ion-row class="test" style="margin-top: 1vw;">
    <!-- 校招 -->
    <ion-col class="test">
      <ion-tab-button #locate_selector (click)="openPage()">
        <img class="fbutton" src="../assets/fbutton/promotion.svg">
        <ion-label class="button-text">校招入口</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- 测试 -->
    <ion-col class="test">
      <ion-tab-button #locate_selector (click)="openPage()">
        <img class="fbutton" src="../assets/fbutton/contract.svg">
        <ion-label class="button-text">职业测试</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- 志愿者 -->
    <ion-col class="test">
      <ion-tab-button #wechat_helper (click)="openPage()">
        <img class="fbutton" src="../assets/fbutton/plant.svg">
        <ion-label class="button-text">志愿者</ion-label>
      </ion-tab-button>
    </ion-col>

    <!-- 求职指南 -->
    <ion-col class="test">
      <ion-tab-button #wechat_helper (click)="openPage()">
        <img class="fbutton" src="../assets/fbutton/idea.svg">
        <ion-label class="button-text">求职指南</ion-label>
      </ion-tab-button>
    </ion-col>
  </ion-row>

</div>

 <!-- segment adv list -->
 <ion-segment (ionChange)="segmentChange($event)" color='primary' style="height: 14vw;">
    <ion-segment-button  value="full" class="segment" >
      <ion-label>全职</ion-label>
    </ion-segment-button>

    <ion-segment-button value="part" class="segment">
      <ion-label>兼职</ion-label>
    </ion-segment-button>

    <ion-segment-button value="intern" class="segment">
      <ion-label>实习</ion-label>
    </ion-segment-button>

    <ion-segment-button value="all" checked class="segment">
      <ion-label>不限</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides  *ngFor="let j of jobs">
    <ion-grid style="border-bottom: solid 1px #AAAAAA; height: 35vw;">
    <!-- <ion-grid style="border-bottom: solid 1px #AAAAAA;"> -->
      <div (click)="presentJobDetailModal(j)">
        <ion-row class="ion-justify-content-center">
          <!-- Avatar -->
          <ion-col size=4>
            <ion-thumbnail style="width: 30vw;height: 30vw;margin-left: 0vh;">
              <!-- <img [src]='job.imageUrl[0]'> -->
              <img src="../../assets/cxk.jpg">
            </ion-thumbnail> 
          </ion-col>
          <!-- Other Info -->
          <ion-col size=8>
            <!-- Company name, job title and salary -->
            <ion-row>
              <ion-col size=9>
                <ion-label style="margin: 0; font-size: 16px; color: black;"><b>{{j.position}}</b></ion-label><br>
                <ion-label style="margin: 0; font-size: 14px; color: black;">{{j.title}}</ion-label><br>
              </ion-col>
              <ion-col size=3>
                <ion-label style="color:#DE6964; font-size: 14px;"><b>${{j.salary}}/hr</b></ion-label>
              </ion-col>
            </ion-row>
            <!-- Labels -->
            <ion-row style="padding-left: 5px;">
              <ion-label style="font-size: 14px; margin: 0;" *ngFor="let tag of j.tags; let i = index"><span *ngIf="i!=0">  &nbsp;|&nbsp;</span>{{tag}}</ion-label><br>
            </ion-row>

            <!-- <div style="height: 2vh;"></div> -->

            <!-- Chips -->
            <ion-row style="margin-top: -1vw; margin-left: 1vw;">
              <ion-chip style="height: 2.5vw; font-size: 10; margin-left: -1vw; margin-right: 3vw; color: #FF3366; background-color:#F8F1D6; border-radius: 5px;" *ngFor="let tag of j.tags.slice(0,3)">{{tag}}</ion-chip>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-slides >
  <!-- Previous adv cards -->
  <!-- <ion-list style="margin-top: 3px;">
    <ion-card *ngFor="let adv of advList" (click)="presentAdvModal(adv)">
      <ion-card-header>
        <ion-card-subtitle style="font-size: 14px; color: cornflowerblue;">{{adv.company}}</ion-card-subtitle>
        <ion-card-subtitle>截止日期: {{adv.endDateTime.seconds * 1000 | date}}</ion-card-subtitle>
        <ion-card-title>{{adv.title}}</ion-card-title>
        <img [src]="adv.images[0]">
        <ion-label class="adv-card-bottom-text">{{adv.detail | slice:0:60}}....</ion-label>
      </ion-card-header>
    </ion-card>
  </ion-list> -->
</ion-content>
