.button-text {
    font-size: x-small;
}

.fbutton{
    height: 15vw;
    width: 15vw;
}

.adv-card-bottom-text {
    background-image: linear-gradient(white, #DDDDDD);
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: medium;
    color: #000066;
    font-weight: bold;
}