.button-text {
    font-size: xx-small;
    color: grey;
}

.fbutton{
    height: 5vh;
    width: 5vh;
}

.adv-card-bottom-text {
    background-image: linear-gradient(white, #DDDDDD);
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: medium;
    color: #000066;
    font-weight: bold;
}

.textinput {
    height: 9vw; 
    border-radius: 10vw; 
    border: 1px solid #AAAAAA; 
    width: 65vw; 
    margin-left: -4vw;
    margin-top: 1vw;
    font-size: small;
}

.location-picker-col {
    padding: 0;
}